<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="C:\Users\Hollis\Documents\projects\conciousness\app\templates\main.css">
	</head>
	<body>
		<div class="ai_stats">
			<a href="#">Chemistry</a>
			<a href="#">Evolutions</a>
			<a href="#">Inevnttory</a>
		</div>

		<div class="grid_map">
		</div>

		<div class="thoughts">
		</div>

		<div class="terminal">
		</div>

		<div class="menu">
			<a href="#">Settings</a>
			<a href="#">Save</a>
			<a href="#">Load</a>
			<a href="#">Exit</a>
		</div>
	</body>
</html>

